* {
  box-sizing: border-box;
  margin: 0;
}

div {
  display: block;
}

a {
  text-decoration: none;
}

.div__container {
  position: relative;
  top: 80px;
  background-color: white;
  padding: 20px 10vw 20px 10vw;
  width: 45;
  margin: 0 auto;
  font-family: Lato, sans-serif;
}

.input__placeholder__whitebg::placeholder {
  color: rgb(131, 131, 131);
  font-size: 0.8em;
}

#div__content_container {
  border: 1px solid red;
}
