* {
  box-sizing: border-box;
  margin: 0;
}

div {
  display: block;
}

.div__container {
  position: relative;
  top: 80px;
  background-color: white;
  padding-top: 20px;
  width: 45%;
  margin: 0 auto;
}
